.home {
  background-image: linear-gradient(to bottom, #152850, #e0eefe);
  height: 100vh;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
  padding: 20px;
}
.creditCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 5px 10px;
}
